@model cloudscribe.Pagination.Models.PagedResult<OnlineAds.Models.TblCategory>

@{
    Layout = "../Shared/_Layout.cshtml";
    ViewData["Title"] = "View Category";
    ViewData["Controller"] = "Admin";
    ViewData["Action"] = "ViewCategory";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="container" style="height:1150px; ">
        <h2>All Categories of Advertisement</h2>
        <div class="row" style="margin-bottom:40px">
            @if (Model != null)
            {
                foreach (var item in Model.Data)
                {
                    <div class="col-lg-4 col-md-4" style="height:200px;margin-top:100px">
                        <img src="@Url.Content(@item.CatImage)" style=" height:100%;width:100% ;border-radius:50px 50px 50px 50px" alt="Image"/>
                        <h4 style="color:#808080; font-family:'Arial Rounded MT';text-align:center"> @Html.ActionLink(@item.CatName, "ViewAdsByCategory", new {id=@item.CatId })</h4>

                        @Html.ActionLink("Delete", "DeleteCategory", new { id = item.CatId }, new { @class = "btn btn-danger btn-sm" })
                        @Html.ActionLink("Edit", "UpdateCategory", new { id = item.CatId }, new { @class = "btn btn-info btn-sm" })
                    </div>
                }
            }
        </div>
        

        <div class="form-group">
            <p style="color:red">@ViewBag.error</p>
        </div>
        
            
        
     </div>
        
     <partial name="_PaginationPartial" view-data="ViewData" model="Model" />
    

</body>
</html>
    

