@model OnlineAds.Models.TblUser

@{
    ViewData["Title"] = "Sign Up";
}

<!DOCTYPE html>
<html lang="en">

<head>
    
</head>
<div id="main-div">
    <div id="box" class="img-responsive">
        @using (Html.BeginForm("SignUp",
                        "User",
                        FormMethod.Post,
                        new { enctype = "multipart/form-data" }))
        {
            <div class="page-wrapper bg-gra-01 p-t-180 p-b-100 font-poppins">
                <div class="wrapper wrapper--w780">
                    <div class="card card-3" style="padding-bottom: 40px;">
                        <div class="card-heading" style="justify-content: center; font-size: 35px;"><b>User Registration</b></div>
                        <div class="card-body">
                            <form method="POST">
                                <div>
                                <label>Name</label><br>
                                <div class="input-group">
                                    @Html.TextBoxFor(x => x.UName, new { @class = "form-control", @placeholder = "Username"})
                                </div>
                                </div>
                                <span style="color:red">   @Html.ValidationMessageFor(x => x.UName) </span>

                                <div>
                                <label>D.O.B</label><br>
                                <div class="input-group">
                                    @Html.TextBoxFor(x => x.UDob, new { @class = "form-control", @placeholder = "DOB" })
                                </div>
                                </div>
                                <span style="color:red">   @Html.ValidationMessageFor(x => x.UDob) </span>

                                <div>
                                <label>Gender</label><br>
                                <div class="input-group">
                                    @Html.TextBoxFor(x => x.UGender, new { @class = "form-control", @placeholder = "Gender" })
                                </div>
                                </div>
                                 <span style="color:red">   @Html.ValidationMessageFor(x => x.UGender) </span>

                                 <div>
                                 <label>City</label><br>
                                 <div class="input-group">
                                    @Html.TextBoxFor(x => x.UCity, new { @class = "form-control", @placeholder = "City" })
                                </div>
                                </div>
                                <span style="color:red">   @Html.ValidationMessageFor(x => x.UCity) </span>

                                <div>
                                <label>State</label><br>
                                <div class="input-group">
                                    @Html.TextBoxFor(x => x.UState, new { @class = "form-control", @placeholder = "State" })
                                </div>
                                </div>
                                <span style="color:red">   @Html.ValidationMessageFor(x => x.UState) </span>

                                <div>
                                <label>Email</label><br>
                                <div class="input-group">
                                    @Html.TextBoxFor(x => x.UEmail, new { @class = "form-control", @placeholder = "Email" })
                                </div>
                                </div>
                                <span style="color:red">   @Html.ValidationMessageFor(x => x.UEmail) </span>

                                <div>
                                <label>Password</label><br>
                                <div class="input-group">
                                    @Html.PasswordFor(x => x.UPassword, new { @class = "form-control", @placeholder = "Password" })
                                </div>
                                </div>
                                <span style="color:red">   @Html.ValidationMessageFor(x => x.UPassword) </span>

                                <div>
                                <label>Contact</label><br>
                                <div class="input-group">
                                    @Html.TextBoxFor(x => x.UContact, new { @class = "form-control", @placeholder = "Phone"})
                                </div>
                                </div>
                                <span style="color:red">   @Html.ValidationMessageFor(x => x.UContact) </span>

                                <div>
                                <label>Profile Photo</label><br>
                                <div class="input-group">
                                    <input type="file" name="imgfile" id="imgfile" class="form-control" required="required" />
                                </div>
                                </div>


                                <div>
                                <div class="p-t-10">
                                    <button class="btn btn-primary" type="submit">Submit</button>
                                </div>
                                </div>

                                <div class="form-group">
                                    <p style="color:red">@ViewBag.error</p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        }
    </div>

</div>



